sfg:
  brewery:
    beer-inventory-service-host: http://localhost:8082
    inventory-user: good
    inventory-password: password
spring:
  sql:
    init:
      mode: embedded
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:beer_db;MODE=MYSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: admin
  jpa:
    defer-datasource-initialization: true
  application:
    name: beer-service
  cloud:
    compatibility-verifier:
      enabled: false
logging:
  level:
    com.codewithevans: debug