spring:
  datasource:
    url: jdbc:mysql://localhost:3306/beer_service?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: Dev@Null
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
        useLocalSessionState: true
        rewriteBatchesStatements: true
        cachResultSetMetadata: true
        cacheServerConfiguration: true
        elideSetAutoCommits: true
        maintainTimeStats: false
      maximum-pool-size: 5
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  cloud:
    config:
      enabled: false
  artemis:
    user: root
    password: password
logging:
  level:
    org:
      hibernate:
        SQL: debug
        type:
          descriptor.sql:
            BasicBinder: trace
    com:
      zaxxer.hikari:
        HikariConfig: debug