# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:11-browsers-legacy
    working_directory: ~/project
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      # Checkout the code as the first step.
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            # Fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: mvn dependency:go-offline

      - save_cache:
          paths:
              - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      # run tests
      - run: mvn integration-test